footer{
    background-color: #353535;
    padding: 18px 0 18px 18px;
    #titre{
        color: white;
        font-family: 'Shrikhand', cursive;
        font-size: 22px;
    }
    p{
        color: white;
        font-family: 'Roboto', sans-serif;
        margin-top: 10px;
    }
}