


#menu_part_1{
    #img_menu_part_1{
        width: auto;
        height: 400px;
        background: url(images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg) repeat center center;
        background-size: cover;
        z-index: 1;
    }
}